<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>User detail - <%= userDetail.firstName %>
      <%= userDetail.lastName %>
  </title>

  <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->

</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>User Detail</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                <li class="breadcrumb-item"><a href="/users">Users</a></li>
                <li class="breadcrumb-item active">User Detail</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">General</h3>
                </div>
                <div class="card-body">
                  <main id="main" class="site-main col-xs-12 col-sm-8 left-block">
                    <div class="courses-info">
                      <img src="/images/use_img/avatar.jpg" width="150" height="150" />
                      <h2>
                        <%= userDetail.firstName %>
                          <%= userDetail.lastName %>
                      </h2>
                      <b>Tên đăng nhập</b>
                      <p class="excerpt">
                        <%= userDetail.username %>
                      </p>
                      <b>Email</b>
                      <p class="excerpt"><a style="color: #0583e4;" target="_blank"
                          href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=<%= userDetail.email %>">
                          <%= userDetail.email %>
                        </a></p>
                      <b>Số điện thoại</b>
                      <p class="excerpt">
                        <%= userDetail.phone %>
                      </p>
                      <b>Nơi sống</b>
                      <p class="excerpt">
                        <%= userDetail.address %>
                      </p>
                    </div>
                    <div class="courses-info">
                      <h3>Giới thiệu</h3>
                      <p>Chuyến phiêu lưu của đời là học hỏi. Mục đích của đời là trưởng thành. Bản tính của đời là thay
                        đổi.
                        Hương vị của đời là giúp đỡ. Vẻ đẹp của đời là cho đi.</p>
                    </div>
                </div>
              </div>
              </main>
            </div>

            <div class="col-md-6">
              <div class="card card-secondary">
                <div class="card-header">
                  <h3 class="card-title">Joined Classes</h3>

                </div>
                <div class="card-body">
                  <aside class="widget widget_courses">
                    <ul>
                      <% for (var prop in classesList ) { %>
                        <li class="clearfix">
                          <div class="simi-co">
                            <h5><a href="/classes/class-detail/<%= classesList[prop].classCode %>">
                                <%= classesList[prop].className %> - <%= classesList[prop].classCode %>
                              </a></h5>
                          </div>
                        </li>
                        <% } %>
                    </ul>
                  </aside>
                </div>
                <!-- /.card-body -->

              </div>
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    </section>

  </div>

  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <script src="/js/theme.js"></script>

  <script type="text/javascript" src="/vendor/fancybox/js/jquery.fancybox.js"></script>
  <script type="text/javascript" src="/vendor/fancybox/js/custom.fancybox.js"></script>
  <script>
    jQuery.noConflict();
    jQuery('.fancybox').fancybox();
  </script>
</body>

<!--classes-details23:38  -->

</html>